@model Application.Dtos.Books.BookDto

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Book</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Kendo UI JS -->
    <script src="https://kendo.cdn.telerik.com/2024.1.319/js/kendo.all.min.js"></script>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body dir="rtl">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="Create" id="myForm">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="row">
                        <div class="col-md-6" hidden>
                            <label asp-for="Id" class="form-label"></label>
                            <input asp-for="Id" id="Id" name="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Name" class="form-label">نام کتاب</label>
                            <input asp-for="Name" id="Name" name="Name" class="form-control" required data-required-msg="نام کتاب الزامی است" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="Name"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Author" class="form-label">نویسنده</label>
                            <input asp-for="Author" id="Author" name="Author" class="form-control" required data-required-msg="نام نویسنده الزامی است" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="Author"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Subject" class="form-label">موضوع</label>
                            <input asp-for="Subject" id="Subject" name="Subject" class="form-control" required data-required-msg="موضوع کتاب الزامی است" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="Subject"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="ISBN" class="form-label">بارکد</label>
                            <input asp-for="ISBN" id="ISBN" name="ISBN" class="form-control" required data-required-msg="بارکد الزامی است" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="ISBN"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Pages" class="form-label">تعداد صفحات</label>
                            <input asp-for="Pages" id="Pages" name="Pages" class="form-control" required data-required-msg="تعداد صفحات الزامی است" />
                            <span asp-validation-for="Pages" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="Pages"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Publisher" class="form-label">ناشر</label>
                            <input asp-for="Publisher" id="Publisher" name="Publisher" class="form-control" required data-required-msg="نام ناشر الزامی است" />
                            <span asp-validation-for="Publisher" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="Publisher"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Language" class="form-label">زبان</label>
                            <input asp-for="Language" id="Language" name="Language" class="form-control" required data-required-msg="زبان کتاب الزامی است" />
                            <span asp-validation-for="Language" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="Language"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="PublicationDate" class="form-label">تاریخ انتشار</label>
                            <input asp-for="PublicationDate" id="PublicationDate" name="PublicationDate" class="form-control" required data-required-msg="تاریخ انتشار الزامی است" type="text" />
                            <span asp-validation-for="PublicationDate" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="PublicationDate"></span>
                        </div>


                        <div class="col-md-6">
                            <label asp-for="BookCategoriesId" class="form-label">دسته‌بندی</label>
                            <select asp-for="BookCategoriesId" id="BookCategoriesId" name="BookCategoriesId" class="form-select mt-4 mb-3" asp-items="ViewBag.Categories" required data-required-msg="دسته‌بندی را انتخاب کنید">
                                <option value="">انتخاب دسته‌بندی</option>
                            </select>
                            <span asp-validation-for="BookCategoriesId" class="text-danger"></span>
                            <span class="k-invalid-msg" data-for="BookCategoriesId"></span>
                        </div>
                    </div>

                    <div class="d-grid mt-3">
                        <button type="button" id="submitBtn" class="btn btn-primary">ثبت اطلاعات</button>
                    </div>
                </form>



            </div>
        </div>
    </div>


    <script>
              $(document).ready(function () {

            var validator = $("#myForm").kendoValidator({
                messages: {
                    required: "پر کردن این فیلد الزامی است."
                },
                validate: function () {
                    $(".k-invalid-msg").css("color", "red");
                }
            }).data("kendoValidator");

            $("#submitBtn").click(function () {

                if (!validator.validate()) {
                    console.warn("❌ فرم نامعتبر است. ارسال متوقف شد.");
                    $(".k-invalid-msg").css("color", "red");
                    $(".k-invalid").css("border-color", "red");
                    return;
                }

                var formData = new FormData($("#myForm")[0]);

                $.ajax({
                    type: "POST",
                    url: "/Book/Create",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                          
                            Swal.fire({
                                icon: 'success',
                                title: response.message,
                                showConfirmButton: false,
                                timer: 2000
                            });

                           $("#myForm")[0].reset();
                            setTimeout(function () {
                                // window.location.href = "/Book/Booklist";
                            }, 2000);
                        } else {
                            
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا در ثبت اطلاعات',
                                text: response.message,
                                showConfirmButton: false,
                                timer: 2000
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("❌ خطا در ارسال اطلاعات:", error);
                        Swal.fire({
                            icon: 'error',
                            title: 'خطای سرور',
                            text: 'ارسال اطلاعات با خطا مواجه شد.',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });
            });
        });
    </script>


</body>

</html>

